.logo-text {
	font-size: $lg-size;
}
header {
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	
	nav {
		
		ul {
			margin: 0;

			li {
				padding: 10px;
				display: inline-block;
			}
		}
	}
}