html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: $base-size;
	background-color: #fff;
}

.is-active {
	font-weight: bold;
}

button {
	cursor: pointer;
	
	&:disabled {
		cursor: default;
	}
}